*{
    font-family: 'Roboto Mono', monospace;
    text-align: center;
}

table {
    border-collapse: collapse;
    margin-left: 20%;
    margin-right: 20%;
   
  
  }
  
  table, th, td {
    border: 1px solid black;
  }

  th, td {
    text-align: left;
    width: 20%;
    padding-left: 5px;
    padding-right: 5px;
  }